[submodule "dexkit/vendor/DexKit"]
	path = dexkit/vendor/DexKit
	url = https://github.com/GangJust/DexKit.git
[submodule "dexkit/vendor/libcxx-prefab"]
	path = dexkit/vendor/libcxx-prefab
	url = https://github.com/GangJust/libcxx-prefab.git
